.time-series-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;

  .flex-container {
    display: flex;
  }

  .data-display-container {
    width: 900px;
  }

  .error-message {
    color: orange;
    margin-top: 20px;
  }
}

.react-datepicker__triangle {
  display: none !important;
}
